<section class="w-full bg-white py-20 px-4 text-center">
  <!-- Título -->
  <h2 class="text-4xl md:text-4xl font-bold text-gray-500 mb-2">
    💥 No te quedes por fuera:
  </h2>
  <!-- Subtítulo -->
  <p class="text-xl sm:text-3xl md:text-5xl font-extrabold text-black mb-10">
    esta es tu invitación para vivir juntos la alegría que nos une.
  </p>

  <!-- Botón con texto animado en gradiente -->
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdj8wIQYTO49oM9e-JWTuL7VhDSrokbfSR9joPrSf1YKEJ5Ag/viewform" target="_blank" rel="noopener noreferrer" class="inline-block px-10 py-6 rounded-full bg-black border-2 border-black shadow-lg">
    <span class="text-2xl md:text-3xl font-extrabold bg-gradient-to-r from-pink-500 via-yellow-400 to-blue-500 bg-[length:200%_200%] bg-clip-text text-transparent animate-text-gradient">
      ⚡RESERVA AHORA
    </span>
  </a>
</section>
