<section class="relative py-16 px-4 bg-white/80 backdrop-blur-lg overflow-hidden">
  <!-- Fondo decorativo animado -->
  <div class="absolute inset-0 pointer-events-none z-0">
    <img src="/icons/rayo.png" class="absolute w-40 opacity-20 top-20 left-10 animate-float" />
    <img src="/logo.png" class="absolute w-32 opacity-20 top-40 left-10 animate-floatXs" />
    <img src="/img/cara.png" class="absolute w-20 opacity-20 top-32 right-12 animate-floatSm" />
     <img src="/icons/rayo.png" class="absolute w-12 opacity-20 top-10 right-11 animate-float" />
    <img src="/logo.png" class="absolute w-32 opacity-20 bottom-20 left-1/2 animate-floatXs" />
  </div>

  <!-- Contenido -->
  <div class="relative max-w-3xl mx-auto text-center z-10">
    <p class="text-xl sm:text-3xl text-gray-800 font-light leading-relaxed">
      “Este año, <strong class="font-semibold text-black">queremos verte otra vez siendo parte de nuestra tradición,</strong>
      <strong class="font-semibold text-black"> llevando tu camisa de fiesta</strong> y contagiando energía a todos los que aman disfrutar 
      <strong class="font-semibold text-black">en paz, con ritmo y buena vibra.”</strong>
    </p>
    <p class="mt-6 text-gray-500 text-lg">– Minimaximo</p>
  </div>
</section>
