<!-- <div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
    <div id="caption" class="text-center text-white mt-4 text-xl"></div>
</div> -->